body {
  background-color: #1A1926;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}
.c-1 {
  color: #1A1926 !important;
}
.c-2 {
  color: #332e4e !important;
}
.c-3 {
  color: #82EC19 !important;
}
.c-4 {
  color: #4E9D00 !important;
}
.medium {
  font-weight: 500 !important;
}
.bold {
  font-weight: 900 !important;
}
.caption {
  background-color: #1A1926;
  padding: .5rem 2rem;
  font-size: 14px;
  letter-spacing: .3rem;
  color: #ffffff;
}
.bigname {
  color: #332e4e;
  font-size: 450px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -0.05em;
  text-align: center;
  line-height: .75;
  position: fixed;
  top: 110px;
  left: -68px;
  right: 0;
  z-index: -1;
}
.btn-custom {
  background-color: #82EC19;
  color: #1A1926;
  box-shadow: 6px 6px #4E9D00;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 20px;
  border-radius: 0;
  padding: .75rem 2rem;
  transition: box-shadow .2s ease-in-out;
}
.btn-custom:hover {
  box-shadow: 0 0 #4E9D00;
}
@media (max-width: 767px){
  .bigname {
    top: -10px;
    left: 0;
    right: 0;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media (max-width: 414px){
  .bigname {
    font-size: 230px;
  }
}
@media (max-width: 375px){
  .bigname {
    font-size: 210px;
  }
}
@media (min-width: 1365px) and (max-width: 1366px){
  .bigname {
    top: 170px;
  }
}
@media (min-width: 1280px) and (max-width: 1300px){
  .bigname {
    font-size: 400px;
    top: 30px;
  }
}

@media (min-height: 1365px) and (max-height: 1366px){
  .bigname {
    font-size: 450px;
    top: 50px;
    left: 0;
    right: 0;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media (min-height: 811px) and (max-height: 812px){
  .bigname {
    font-size: 250px;
  }
}