// GENERAL
body {
	color: $dark;
	font-size: 13px;
	line-height: 1.7;
	-webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "pnum";
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
    background-image: url('../img/1.png');
}

img {
	max-width: 100%;
}

a, .link {
	text-decoration: none !important;
	transition: $fast;
}

// .hide {
// 	display: none;
// }

// .show {
// 	display: block;
// }

.h-50 {
	height: 50%;
}
.h-100 {
	height: 100%;
}

.o-hidden {
	overflow: hidden;
}

// POSITION
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
// END POSITION

// FONTS
.f-10{
  font-size: 10px !important;
}
.f-11{
  font-size: 11px !important;
}
.f-12{
  font-size: 12px !important;
}
.f-13{
  font-size: 13px !important;
}
.f-14{
  font-size: 14px !important;
}
.f-16{
  font-size: 16px !important;
}
.f-18{
  font-size: 18px !important;
}
.f-20{
  font-size: 20px !important;
}
.f-22{
  font-size: 22px !important;
}
.f-24{
  font-size: 24px !important;
}
.f-28{
  font-size: 28px !important;
}
.f-38{
  font-size: 38px !important;
}
.f-48{
  font-size: 48px !important;
}
.f-58{
  font-size: 58px !important;
}
.f-68{
  font-size: 68px !important;
}

.font1 {
  font-family: $font1;
  // letter-spacing: 2px;
  font-weight: $bold;
}
.font2 {
  font-family: $font2;
  letter-spacing: 1px;
}
.w-regular {
  font-weight: $regular !important;
}
.w-semi {
  font-weight: $semibold !important;
}
.w-bold {
  font-weight: $bold !important;
}
.lh-1 {
	line-height: 1;
}
.lh-1-5 {
	line-height: 1.5;
}
.lh-2 {
	line-height: 2;
}
// END FONTS

.cl-1 {
	color: $orange;
}

.sc-x {
	overflow-x: auto;
}

button {
	outline: 0 !important;
}

.btn-orange {
	background-color: $orange;
	color: $white;
	border: 0;
}

.owl-carousel {
	.animated  {
	  -webkit-animation-duration : 2s;
	  animation-duration : 2s;
	  -webkit-animation-fill-mode : both;
	  animation-fill-mode : both;
	}
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
// END GENERAL

.music {
	top: 15%;
	right: .5rem;
	z-index: 1;

	.btn {
		background-image: url('../img/1.png');
		border-radius: 100%;
		border: 1px solid rgba($orange, 0.3);
		width:50px;
		height:50px;

		i {
			color: $orange;
		}
	}

	.play {
		.play-ic {
			display: inline-block;
		}
		.pause-ic {
			display: none;
		}
	}

	.play-ic {
		display: none;
	}
}

.menu {
		background-image: url('../img/1.png');
		z-index: 5;

		.item {
			a {
				color: $dark;
				text-align: center;
				display: block;
				padding: .5rem 0;

				img {
					display: block;
					max-width: 24px;
					margin: 0 auto;
				}

				&:hover {
					color: $orange;
				}
			}
			.active {
				color: $orange;
				font-weight: 700;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: $orange;
				}
			}
		}

		.more {
		    position: absolute;
		    right: 0;
		    bottom: 0;
		    z-index: 1;
		    background-color: $orange;
		    width: 65px;
		    height: 69px;
		    padding-top: .5rem;

		    a {
		    	color: $white;
		    }
		}

		.owl-stage-outer {
			position: relative;
			top: .4rem;
		}

		.owl-dots {
			text-align: center;
			margin-top: 0 !important;
			position: relative;
			top: -.7rem;

			.owl-dot {
				background: $gray-500;
				width: 12px;
				height: 1px;
				margin-right: .2rem;
				margin-left: .2rem;

				span {
					display: none;
				}
			}
			.owl-dot.active {
				background: $orange;
			}
		}
}

.more-menu {
	    display: none;

	    .nav-item {
	    	.nav-link {
	    		margin-bottom: .5rem;
	    		
	    		img {
	    			width: 32px;
	    		}

	    		.menu-name {
	    			display: inline-block;
	    			margin-left: 1rem;
	    			font-size: 18px;
	    			color: $white;
	    		}
	    	}
	    }
}
.open {
	    display: block;
	    position: absolute;
	    top: 0;
	    width: 85%;
	    height: 100%;
	    background: #9b6f4a;
	    padding: 2rem;
	    z-index: 1;
}

.mobile {
	@include media-breakpoint-up(md){
		display: none;
	}

	.menu {
		margin-bottom: -.7rem;
	}

	.home {
		.accens {
			position: relative;
			top: 6rem;
		}

		.caption {
			margin-top: -13rem;
		}
	}

	.bride {
		.caption {
			margin-top: -12rem;
    	margin-bottom: -12rem;
		}
		.ava {
			width: 150px;
			margin: 1.5rem auto;
		}
	}

	.event {
		.caption {
			margin-top: -12rem;
    	margin-bottom: -12rem;
		}

		.icon {
			img {
				width: 32px;
			}
		}

		.countdown {
			.title {
				letter-spacing: normal;
				position: relative;
				top: -10px;
			}
		}
	}

	.gallery {
		.caption {
			margin-top: -13rem;
    	margin-bottom: -13rem;
		}
	}

	.map {
		.caption {
			margin-top: -13rem;
		}
	}

	.quotes {
		.caption {
			margin-top: -12rem;
			margin-bottom: -12rem;
		}
	}

	.says {
		.caption {
			margin-top: -12rem;
			margin-bottom: -12rem;
		}
	}
}

.mobile-2 {
	.menu {
		margin-bottom: -.7rem;
	}
	.caption {
		margin-top: 0 !important;
		margin-right: 1.5rem;
		margin-left: 1.5rem;
		padding: 2rem 1.5rem;
		border: 2px dashed rgba($orange, 0.5);
	}

	.accentop,
	.accenbottom {
		z-index: -1;
	}

	.home {
		.accentop {
			top: 0;
		}
		.accenbottom {
			position: absolute;
			bottom: 4rem;
		}
	}

	.bride {
		.accentop {
			top: 0;
		}
		.accenbottom {
			position: absolute;
			bottom: 4rem;
		}
		.caption {
			margin-top: 0 !important;
			margin-bottom: 13rem;
		}
	}

	.event {
		.accentop {
			top: 0;
		}
		.accenbottom {
			position: absolute;
			bottom: 4rem;
		}
		.caption {
			margin-top: 0 !important;
			margin-bottom: 13rem;
		}
	}

	.gallery {
		.accentop {
			top: 0;
		}
		.accenbottom {
			position: absolute;
			bottom: 4rem;
		}
		.caption {
			margin-top: 0 !important;
			margin-bottom: 13rem;
		}
	}

	.map {
		.accentop {
			top: 0;
		}
		.accenbottom {
			position: absolute;
			bottom: 4rem;
		}
		.caption {
			margin-top: 0 !important;
			margin-bottom: 13rem;
			padding: 1rem 0 0;
		}
	}

	.quotes {
		.accentop {
			top: 0;
		}
		.accenbottom {
			position: absolute;
			bottom: 4rem;
		}
		.caption {
			margin-top: 0 !important;
			margin-bottom: 13rem;
		}
	}

	.says {
		.accentop {
			top: 0;
		}
		.accenbottom {
			position: absolute;
			bottom: 4rem;
		}
		.caption {
			margin-top: 0 !important;
			margin-bottom: 13rem;
		}
	}
}

.desktop {
	@include media-breakpoint-up(md){
		display: block;
	}
	@include media-breakpoint-down(sm){
		display: none;
	}

	.fixed-bottom {
		width: 700px;
		margin: .5rem auto;

		.menu {
			padding: .5rem;
			border-radius: .5rem;
			box-shadow: 0 .2rem .7rem rgba($dark, 0.3);
		}
	}

	.home {
		.accens {
			width: auto;
			margin: 0 auto;
			position: relative;
			top: 5rem;
		}

		.caption {
			top: -21rem;
		}

		@media(min-width: 1280px) and (max-width: 1300px){
			.accens {
				top: 0;
			}
			.caption {
				top: -28rem;
			}
		}
	}

	.bride {
		.accens {
			width: 30%;
		}
		
		.caption {
			margin-top: -18rem;
			@media (max-height: 800px){
				margin-bottom: -13rem;
			}

			.ava {
				width: 200px;
				margin-bottom: 2rem;
			}
		}

		@media(min-width: 1280px) and (max-width: 1300px){
			.caption {
				margin-top: -20rem;
			}
		}
	}

	.event {
		.accens {
			width: 30%;
		}

		.caption {
			margin-top: -22rem;
    	margin-bottom: -18rem;
		}

		.icon {
			img {
				width: 32px;
			}
		}

		.countdown {
			.title {
				letter-spacing: normal;
				position: relative;
				top: -10px;
			}
		}
	}

	.gallery {
		.accens {
			width: 30%;
		}

		.caption {
			margin-top: -18rem;
    	margin-bottom: -17rem;
		}
	}

	.map {
		.accens {
			width: 30%;
		}

		.caption {
			margin-top: -22rem;
    	margin-bottom: -17rem;
		}
	}

	.quotes {
		.accens {
			width: 30%;
		}

		.caption {
			margin-top: -17rem;
		}
	}

	.says {
		.accens {
			width: 30%;
		}

		.caption {
			margin-top: -22rem;
			margin-bottom: -17rem;
		}
	}
}

.desktop-2 {
	.caption {
		padding: 2rem 1.5rem;
		border: 2px dashed rgba($orange, 0.5);
	}

	.accentop,
	.accenbottom {
		z-index: -1;
	}

	.accentop {
		top: 0;
	}
	.accenbottom {
		position: absolute;
		bottom: 0;
	}

	.home {
		.caption {
			top: -10rem;
		}
	}

	.bride {
		.caption {
			margin-top: -14rem;
		}
	}

	.event {
		.caption {
			margin-top: -14rem;
    	margin-bottom: 5rem;
		}
	}

	.gallery {
		.caption {
			margin-top: -14rem;
    	margin-bottom: 5rem;
		}
	}

	.map {
		.caption {
			margin-top: -14rem;
    	margin-bottom: 5rem;
		}
	}

	.quotes {
		.caption {
			margin-top: -14rem;
    	margin-bottom: 5rem;
		}
	}

	.says {
		.caption {
			margin-top: -14rem;
    	margin-bottom: 5rem;
		}
	}
}
