// COLORS
$primary: #orange;
$secondary: #333;
$third: #333;

// FONTS
$font1: 'Charm', cursive;
$font2: 'Lateef', cursive;
$regular: 400;
$semibold: 600;
$bold: 700;

// TRANSITION
$fast: all .3s ease-in-out;
$slow: all .6s ease-in-out;
$slowly: all 1s ease-in-out;

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

// example used placeholder
// .class {
//		@include placeholder {
// 			color: $gray-2;
// 		}
//	}
// 
